<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Виртуальный тур</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <a class="nav-link" href="/">
                <span class="bi bi-house-door" aria-hidden="true"></span> Главная
            </a>
        </div>
        <div class="nav-item px-3">
            <a class="nav-link" href="/tours">
                <span class="bi bi-compass" aria-hidden="true"></span> Все туры
            </a>
        </div>
        <div class="nav-item px-3">
            <a class="nav-link" href="/add-tour">
                <span class="bi bi-plus-circle" aria-hidden="true"></span> Создать тур
            </a>
        </div>
        <div class="nav-item px-3">
            <a class="nav-link" href="#">
                <span class="bi bi-question-circle" aria-hidden="true"></span> О проекте
            </a>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}